:root {
    --morado: #883AE1;
    --rosa:#E6D6FC;
    --gris-claro: #E5EAF0 ;
    --hueso: #FAFAF9; 
    --blanco: #FFFFFF; 
    --negro: #20293A ;
    --gris: #6C727F ; 
    --sara-title: "Sora", sans-serif;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;   
}
body{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.diseño{
    width:368px ;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    height: auto;
    background-color: var(--blanco);
    border-radius: 15px;
    box-shadow: 0 4px 8px var(--gris-claro);
    
}

.diseño-contenedor{
    padding: 0;
    margin: 0px 0px 0px;
}
.card-img-top{
    width: 336px;
    height: 152px;
    margin: 16px 16px 0 0;
    border-radius:10px ;
}
.plans-container-card{
    position: relative;
    width: 900px;
    min-width: 336px;
    max-width: 200px;
    height: auto;
    margin: 164px auto 0;
    padding:  0 16px;
}
.card-title{
    
    font-size: 1.4rem;
    font-weight: 500px;
    line-height: 1.8rem;
    color: black;
    font-family: var(--sara-title);
    font-size: 18px;
    margin: 16px 0px -0.1rem 0px;
}
.card-saving{
    line-height: 1.8rem;
    color: var(--gris);
    font-family: var(--sara-title);
    font-size: 14px;
}
.card-down{
    
    line-height: 1.8rem;
    color: var(--gris);
    font-family: var(--sara-title);
    font-size: 12px;
    margin: 16px;
    height: 20px;
    text-align: justify;
    position:relative;
    bottom: 20px; 
    padding-top: 20px;
}

.table-date{
width: 50px; 
height: 10px;
margin: 0 ;
margin-top: 16px;
padding:5px;
background-color: var(--rosa);
border-radius: 10px; 
text-align: center;
}
.table-date p{
    font-size: 10px;
    margin: 0px;
    position: relative;
    font-weight:bold;
    line-height:auto ;
    color: var(--morado);

}
.h{
    
    border-bottom:  1px solid var(--gris-claro);
    width: 100%;
    height: 9px;
    position: relative;
    margin: 0;
    padding:  0;
}

